@font-face {
  font-family: 'Lato';
  src: url('fonts/lato-light.eot'); /* IE9 Compat Modes */
  src: url('fonts/lato-light.eot?#iefix') format('embedded-opentype'), 
       url('fonts/lato-light.woff2') format('woff2'), 
       url('fonts/lato-light.woff') format('woff'), 
       url('fonts/lato-light.ttf')  format('truetype'),
       url('fonts/lato-light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato Medium';
  src: url('fonts/lato-medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/lato-medium.eot?#iefix') format('embedded-opentype'), 
       url('fonts/lato-medium.woff2') format('woff2'), 
       url('fonts/lato-medium.woff') format('woff'), 
       url('fonts/lato-medium.ttf')  format('truetype'),
       url('fonts/lato-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}