/*
  Katrina Goh - CSS
*/

@import 'normalize';
@import 'fonts';

/* DEFAULT VARIABLES */

/* Colours */
$var-color-pink:#FF5C57; 
$var-color-dark-pink:#CF2C27;
$var-color-dark-red:#7F2E2B;
$var-color-blue:#347BB2;
$var-color-grey:#3F3F3F;
$var-color-light-grey:#58595B;
$var-color-lightest-grey:#ACAEB0;
$var-color-even-lighter-lightest-grey:#ECEEF0;
$var-color-black:#000;
$var-color-white:#FFF;


/* Shortened code for transitions */
@mixin transition($transition...) {
    -webkit-transition: $transition;
    transition:         $transition;
}

/* Shortened code for transforms */
@mixin transform($transform...) {
    -webkit-transform: $transform;
    transform:         $transform;
}

/* Shortened code for the dark borders on the bottom of links */
@mixin link-border-bottom() {
  color:$var-color-blue;
  border-bottom:0.15em solid rgba(52, 113, 173, 1);
}




/* GENERAL RULES */

*, *::before, *::after { /* Apply the border-box model */
  box-sizing:border-box;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  font-size:1.25em;
  color:$var-color-black;
  padding-bottom:0;
  margin-top:2em;
}

header .wrapper { /* Wrap this around content if it should max at a certain length and not reach the edges of the window */
  max-width:100%;
  margin:0 auto;
  padding:0 2em;
}

.wrapper {
  max-width:60em;
  margin:0 auto;
  padding:0 2em;
}

img { /* All images should be at max width and shrink down if larger than the screen width */
  max-width:100%;
  height:auto;
}

/* Selection - make the highlighted text yellow and the background red */

::-moz-selection { /* Code for Firefox */
    color:$var-color-white;
    background:$var-color-pink;
}

::selection {
    color:$var-color-white; 
    background:$var-color-pink;
}

figure { /* By default, remove margins on figures */
  margin:0;
}

/* GENERAL RULES */






/* MOBILE NAVIGATION */

/* Important styles */
#toggle {
  position:absolute;
  display:block;
  right:0;
  top:0.75em;
  width: 1.5em;
  height: 1.55em;
  border:none;

  span:after,
  span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -0.45em;
  }

  span:after{
    top: 0.45em;
  }

  span {
    position: relative;
    display: block;
  }

  span,
  span:after,
  span:before {
    width: 100%;
    height: 0.15em;
    background-color: $var-color-pink;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }

  /* on activation */
  &.on span {
    background-color: transparent;
  }

  &.on span:before {
    transform: rotate(45deg) translate(0.25em, 0.25em);
  }

  &.on span:after {
    transform: rotate(-45deg) translate(0.35em, -0.4em);
  }

  + #menu {
    opacity: 0;
    transition: all 0.3s;
  }

  &.on + #menu {
    opacity: 1;
    transition: all 0.3s;
  }

  + div {
    height:0;
    transition: height 0.3s;
    margin-bottom:0.5em;
    visibility:hidden;
  }

  &.on + div {
    height:15.5em;
    transition: height 0.3s;
    visibility:visible;
  }
}

/* menu appearance*/
#menu {
  transition: all 0.3s;
  position: relative;
  color: $var-color-grey;
  margin: 0 auto;
  text-align: center;

  li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }

  li a {
    padding: 0.25em;
    margin-bottom:0.25em;
    color: $var-color-light-grey;
    text-decoration: none;
    transition: all .2s;
    border:none;
  }

  li a:hover,
  li a:focus {
    background: $var-color-pink;
    color: $var-color-white;
    border:none;
  }
}

nav {

  position:relative;

  a {
    border:none;

    &:hover, &:focus {
      border:none;
    }
  }

  img { /* The logo image in the nav bar */
    display:inline-block;
    opacity:1;
    margin-bottom:1em;
    @include transition(opacity 0.3s ease-out);
  }

  img:hover, img:focus { /* Have the logo image become translucent on hover*/
    opacity:0.5;
    @include transition(opacity 0.3s ease-out);
  }

}

header {
  margin-bottom: 1.5em;
}

/* MOBILE NAVIGATION */






/* SECTIONS */

#past-events {
  border-top: 0.05em solid $var-color-lightest-grey;
}

footer {
  font-size:0.8em;
  text-align:center;
  color:$var-color-light-grey;
  margin-top:2.5em;
  padding-top:0.75em;
  margin-bottom:2.5em;

  hr {
    width:100%;
    height:1px;
    color: $var-color-even-lighter-lightest-grey;
    background-color: $var-color-even-lighter-lightest-grey;
    border:none;
    margin-bottom:1.5em;
  }
}

#get-in-touch {

  hr {
    width:2em;
    height:0.15em;
    color: $var-color-dark-red;
    background-color: $var-color-dark-red;
    border:none;
    margin-bottom:0.5em;
    margin-top:4em;
  }

  p {
    font-size: 0.85em;
    font-family: 'Lato Semibold Italic', Arial, sans-serif;
    text-align:center;
    margin-bottom:0.5em;
  }
}

/* SECTIONS */








/* TEXT ELEMENTS */

/* Headings */

h1 {
  font-size:1.75em;
  margin:0;
  font-family: 'Lato Medium', Arial, sans-serif;
  color:$var-color-dark-red;
}

#press-story h1 {
  color:$var-color-black;
}

h2 {
  font-size:1.1em;
  margin:1em 0 0;
  font-family: 'Lato Regular', Arial, sans-serif;
  color:$var-color-black;
}

#press h2 {
  margin-top:0;
}

p {
  font-size:0.85em;
  line-height:1.65em;
}

/* Paragraphs */
ul, ol {
  margin:0 0 1em 0;
  font-size:0.95em;
  line-height:1.5em;
}
  
p, ul, ol {

  strong {
    font-family: 'Lato Bold', Arial, sans-serif;
  }
}

ul {
  padding-left:0;
}

blockquote {

  margin:2em 0 0;
  padding-left:0.75em;
  border-left:0.15em solid $var-color-dark-red;

  p {
    font-family:'Lato Italic', Arial, sans-serif;
    font-size:1.2em;
  }

  cite {
    font-family:'Lato Bold Italic', Arial, sans-serif;
    font-size:0.95em;
  }
}

/* TEXT ELEMENTS */








/* SCHEDULE + PRESS */

#upcoming-events {
  margin-top:1em;
}

figure {

  &.schedule-events {
    margin-top:2em;
    margin-bottom:2em;

    &:first-of-type {
      margin-top:0.75em;
    }
  }

  &.press-preview {
    margin-top:2em;
    margin-bottom:2em;

    &:first-of-type {
      margin-top:0;
    }
  }

  &:not(:last-of-type) {
    border-bottom:0.05em solid $var-color-lightest-grey;
    padding-bottom:2em;
  }
}

.press-preview-timestamp {
  font-size:0.65em;
  margin-top:0.1em;
  margin-bottom:0;
  font-family:'Lato Bold', Arial, sans-serif;
  color:$var-color-lightest-grey;
}

/* SCHEDULE + PRESS */







/* PRESS STORIES */

.wrapper-press-story {
  max-width:50em;
  margin:0 auto;
  padding:0 2em;
}

.press-story-timestamp {
  font-size:0.8em;
  margin-top:0;
  margin-bottom:1em;
  font-family:'Lato Bold', Arial, sans-serif;
  color:$var-color-lightest-grey;
}

/* PRESS STORIES */







/* MEDIA */

#media {

  #videos {
    margin-top:1em;
  }

  section:not(:last-of-type) {
    border-bottom:0.05em solid $var-color-lightest-grey;
    padding-bottom:2em;
  }

  #photos, #videos, #audio {

    .container [class*='col-'] {

      &:not(:first-of-type) {
        margin:0.15em auto;
      }

      &:first-of-type {
        margin:1em auto 0.15em;
      }
    }
  }
}

/* MEDIA */






/* REPERTOIRE */

table {
  margin-top:1em;
  width:100%;
  font-size:0.85em;

  .opera-composer, .oratorio-composer, .musical-composer {
    font-family:'Lato Semibold', Arial, sans-serif;
    width:100%;
    display:block;
    margin-top:0.75em;
  }

  .opera-name, .opera-role, .oratorio-name, .musical-name, .musical-role {
    width:100%;
    display:block;
  }

  .opera-name, .oratorio-name, .musical-name {
    font-family:'Lato Italic', Arial, sans-serif;
  }

  tr:not(:last-of-type) {
    border-bottom:0.05em solid $var-color-even-lighter-lightest-grey;

    .opera-role, .oratorio-name, .musical-name {
      margin-bottom:0.75em;
    }
  }
}

#opera, #oratorio {
  margin-bottom:2em;
  border-bottom:0.05em solid $var-color-lightest-grey;
  padding-bottom:2em;
}

#cv {

  margin:2em 0 2.25em;
  padding-left:0.75em;
  border-left:0.15em solid $var-color-dark-red;

  p em{
    font-family:'Lato Italic', Arial, sans-serif;
  }
}

/* REPERTOIRE */







/* FORMS */

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  width:100%;
  border:0.1em solid $var-color-black;
  background:$var-color-white;
  margin:0 0 1em 0;
  padding:0.35em 0.4em;
  font-size:0.85em;

  &:focus {
    border-color:$var-color-pink;
  }
}

#contact-form textarea {
  max-width:100%;
  min-width:100%;
  height:7.5em;
  min-height:7.5em;
}

#contact-form span {
  font-family: 'Lato Bold', Arial, sans-serif;
  font-size:0.85em;
}

/* FORMS */









/* INTERACTIVE ELEMENTS */

/* Styling for the buttons */
.button, #contact-form button[type="submit"]  {
  margin:0 auto;
  width:100%;
  padding: 0.75em 0.75em;
  color: $var-color-white;
  background-color: $var-color-pink;
  text-decoration: none;
  text-transform:uppercase;
  font-family:'Lato Medium', Arial, sans-serif;
  border:none;
  @include transition(all 0.3s ease-out);
  display:block;
  text-align:center;
  font-size:0.75em;

    &:hover, &:focus {
      background-color: $var-color-dark-pink;
      color:$var-color-white;
      border:none;
    }
}

/* Styling for the link */
a {
  color:$var-color-blue;
  font-family:'Lato Medium', Arial, sans-serif;
  border-bottom:0.15em solid rgba(52, 113, 173, 0);
  text-decoration:none;
  @include transition(all 0.3s ease-out);

    &:hover, &:focus {
      @include link-border-bottom();
      @include transition(all 0.3s ease-out);
    }
}

/* INTERACTIVE ELEMENTS */







/* GRID SYSTEM */

.container {

  &::after { /* Clears the floats after a grid row */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] { /* By default (mobile-first) columns are stacked */
  margin:1em 0;
  width:100%;
}

.col-1of1 {
  width:100%;
}

/* GRID SYSTEM */








/* MEDIA QUERIES */

/* Header images */
@media (max-width:34.999em) {
  #banner-small { display:block; }
  #banner-medium { display:none; }
  #banner-large { display:none; }
}

@media (min-width:35em) and (max-width:56.249em) {
  #banner-small { display:none; }
  #banner-medium { display:block; }
  #banner-large { display:none; }
}

@media (min-width:56.25em) {
  #banner-small { display:none; }
  #banner-medium { display:none; }
  #banner-large { display:block; }
}






@media (min-width:30em) {

  .button, #contact-form button[type="submit"] {
    display:block;
    font-size:0.85em;
    width:9em;
    margin-left:0;
  }

  #get-in-touch .button {
    margin:auto;
  }
}


@media (min-width:40em) {

  .container { /* Regular grids used for layout */
    margin-left:-1em;
    margin-right:-1em;
  }

  [class*='col-'] { /* Remove outside margins */
    padding:0 1em;
    float:left;
  }

  .container.narrow {
    margin-left:-0.25em;
    margin-right:-0.25em;
  }

  [class*='col-'].narrow {
    padding:0 0.25em;
    float:left;
  }

  .col-1of2-sm {
    width:50%;
  }

  .col-1of3-sm {
    width:33.33%;
  }

  .col-2of3-sm {
    width:66.66%;
  }

  #get-in-touch {

    hr {
      margin-left:0;
    }

    p {
      text-align:left;
    }

    .button {
      margin-left:0;
    }
  }

  blockquote, #cv {
    margin-top:0;
  }

  #media {

    h2 {
      margin-bottom:1.45em;
    }

    #audio, #photos, #videos {

      .container [class*='col-']:first-of-type {
        margin:0.15em auto;
      }
    }
  }

  #repertoire #opera h2 {
    margin-top:0;
  }

  h2 {
    font-size:1.25em;
  }

  table {
      display:table;

      .opera-composer, .musical-composer {
        width:25%;
        display:table-cell;
      }

      .opera-name, .musical-name {
        width:45%;
        display:table-cell;
      }

      .opera-role, .musical-role {
        width:30%;
        display:table-cell;
      }

      .oratorio-composer {
        width:25%;
        display:table-cell;
      }

      .oratorio-name {
        width:75%;
        display:table-cell;
      }

      td {
        height:2em;
      }
    }

    .schedule-events p {
      margin-top:0;
    }

}





@media (min-width:47.5em) {

  .col-1of3 {
    width:33.33%; /* At a certain screen size, make the columns 33% and 66% */
  }

  .col-2of3 {
    width:66.66%;
  }

  .col-1of2 {
    width:50%;
  }

  .col-4of5 {
    width:80%;
  }

  .container.wide { /* Regular grids used for layout */
    margin-left:-2em;
    margin-right:-2em;
  }

  [class*='col-'].wide { /* Remove outside margins */
    padding:0 2em;
    float:left;
  }
}


@media (min-width:60em) {
  .col-1of3-lg {
    width:33.33%;
  }

  .col-2of3-lg {
    width:66.66%;
  }

  .col-1of2-lg {
    width:50%;
  }

  h1 {
    font-size:2.75em;
    margin:0 0 0.75em;
    font-family: 'Lato Hairline', Arial, sans-serif;
    color:$var-color-dark-red;
    text-transform:uppercase;
    padding-top:0.5em;
  }

  figure.schedule-events:first-of-type {
    margin-top:0;
  }



  #press-story .press-story-timestamp {
    margin-top:0;
    margin-bottom:1em;
  }

  #media {

    h2 {
      margin-bottom:0.5em;
    }
  }

  #press-story {

    h1 {
      font-family: 'Lato Regular', Arial, sans-serif;
      color:$var-color-black;
      margin-bottom:0;
      text-transform:none;
    }

    img {
      margin-bottom:2.25em;
    }
  }

  h2 {
    font-size:1.65em;
    margin:1.5em 0 0;
    font-family: 'Lato Regular', Arial, sans-serif;
    color:$var-color-black;
  }

  #press h2 {
    margin-top:0;
  }

  /* Paragraphs */
  p, ul, ol {
    margin:0 0 1em 0;
    font-size:0.95em;
    line-height:1.5em;

    strong {
      font-family: 'Lato Bold', Arial, sans-serif;
    }
  }

  blockquote {

    margin:0 0 2.25em;
    padding-left:0.75em;
    border-left:0.15em solid $var-color-dark-red;

    p {
      font-family:'Lato Italic', Arial, sans-serif;
      font-size:1.2em;
    }

    cite {
      font-family:'Lato Bold Italic', Arial, sans-serif;
      font-size:0.95em;
    }
  }

  #get-in-touch hr {
    margin-top:0;
  }
}



@media (min-width:67.5em) {

  #toggle {
    display:none;

    + #menu {
      opacity: 1;
      height:4em;
      transition: all 0.3s;
    }

    + div {
      height:15.5em;
      transition: height 0.3s;
      visibility:visible;
    }
  }

  /* menu appearance*/
  #menu {

    ul {
      margin:0.5em auto 0;
      padding:0;
      display:inline-block;
    }

    li, li a {
      float:left;
      margin: 0 0.5em;
      padding: 0;
      text-transform:uppercase;
    }

    li a {
      padding: 0.15em 0.25em;
      border-bottom:0.15em solid rgba(255, 92, 87, 0);
      font-family:'Lato Semibold', Arial, sans-serif;
      color:$var-color-lightest-grey;
    }

    li:last-of-type a{
      border:none;
      background-color:$var-color-pink;
      color:$var-color-white;
      padding:0.25em 0.65em;
    }

    li a:hover,
    li a:focus,
    li:not(:last-of-type) a.nav-link-current {
      background: $var-color-white;
      color: $var-color-light-grey;
      border-bottom:0.15em solid $var-color-pink;
    }

    li:last-of-type a:hover, li:last-of-type a:focus {
      border:none;
      background-color:$var-color-dark-pink;
      color:$var-color-white;
    }
  }

  nav {

    a {
      border:none;

      &:hover, &:focus {
        border:none;
      }
    }

    img { /* The logo image in the nav bar */
      display:block;
      margin-left:auto;
      margin-right:auto;
    }

  }
}


@media (min-width:85em) {

  /* menu appearance*/

  header {
    position:relative;
  }

  #menu {

    position:absolute;
    right:0;
    top:-0.15em;

    li, li a {
      float:left;
      margin: 0 0.5em;
      padding: 0;
      text-transform:uppercase;
    }

    li a {
      padding: 0.15em 0.25em;
      border-bottom:0.15em solid rgba(255, 92, 87, 0);
      font-family:'Lato Semibold', Arial, sans-serif;
      color:$var-color-lightest-grey;
    }

  }

  nav {

    img { /* The logo image in the nav bar */
      margin-left:0;
      margin-bottom:1.5em;
    }

  }
}

/* MEDIA QUERIES */